#filename: dbus2http.service

[Unit]
Description=dbus2http proxy
After=network.target network-online.target dbus.service
Wants=network-online.target
Requires=dbus.service

[Service]
User=dbus2http
WorkingDirectory=/opt/cosmos/bin
ExecStart=/opt/cosmos/bin/dbus2http --system --port 10059 --websocket_port 10058 --service_prefix com
Type=simple
EnvironmentFile=/etc/environment
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
