#filename: dbus2http.service

[Unit]
Description=dbus2http proxy

[Service]
User=dbus2http
WorkingDirectory=/opt/cosmos/bin
ExecStart=/opt/cosmos/bin/dbus2http --system --port 10049 --service_prefix com
Type=simple
EnvironmentFile=/etc/environment
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
